.github-profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.input-wrapper input {
  padding: 6px;
}

.input-wrapper button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}